# Java
target/
*.class
*.jar
!.mvn/wrapper/maven-wrapper.jar

# Maven
.mvn/
mvnw
mvnw.cmd

# Node
node_modules/
frontend/dist/

# IDE
.idea/
*.iml
.vscode/settings.json

# Environment
.env
*.env
!.env.example

# OS
.DS_Store
Thumbs.db

# Uploads
uploads/

#text
*.txt
CLAUDE.md
*.csv
*.log
