<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="appName" source="spring.application.name" defaultValue="app"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [${appName}] [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>{"timestamp":"%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ}","service":"${appName}","level":"%level","logger":"%logger{36}","thread":"%thread","message":"%msg"}%n</pattern>
        </encoder>
    </appender>

    <springProfile name="default,dev">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
        <logger name="com.intellimed" level="DEBUG"/>
    </springProfile>

    <springProfile name="prod,docker">
        <root level="INFO">
            <appender-ref ref="JSON"/>
        </root>
        <logger name="com.intellimed" level="INFO"/>
    </springProfile>
</configuration>
